.Progress {
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 .1em .5em 0 rgba(0, 0, 0, .1);
  //margin: .5em; // tmp

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .title {
    margin: 0;
    font-size: 1.1em;
    color: #555;
    display: flex;
    align-items: center;
    gap: .5em;

    .advance {
      font-size: .75em;
      color: #999;
      background-color: #eee;
      padding: .25em .75em;
      border-radius: .5em;
      letter-spacing: 2px;
    }
  }

  .progress-container {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375em;
    background-color: #e8eaf6;

    .progress {
      //border: 1px solid;
      border-radius: .375em;
      overflow: hidden;
      padding: .2em;

      .bar {
        font-size: 14px;
        padding: .25em 0;
        border-radius: .375em;
        text-align: center;
        transition: .3s;
      }
    }
  }
}